html, body, div.container {
  margin: 0px;
  height: 100%;
}

div.app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

div.search-wrapper {
  flex: 1;
  outline: 1px dotted red;
}

div.flight-listing-wrapper {
  flex: 3;
  outline: 1px dotted blue;
}

div.flight-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.2em;
}

div.flight-listing-header {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

div.flight-list-item {
  height: 150px;
  margin: 1.1em 0em;
  padding: 1em;
}
