html, body, div.container {
  margin: 0px;
  height: 100%;
}

div.app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

div.search-wrapper {
  flex: 1;
  outline: 1px dotted red;
}

div.flight-listing-wrapper {
  flex: 3;
  outline: 1px dotted blue;
}
